<section
  class="bg-white mx-4 md:max-w-5xl md:mx-auto rounded-2xl shadow-xl overflow-hidden -mt-4 relative"
>
  <!-- TOP -->

  <div class="bg-red-500 text-white px-6 py-5 text-xl font-semibold">
    BEM-VINDO AO SISTEMA
  </div>

  <!-- ACTIONS -->

  <div class="grid grid-cols-2">
    <a
      routerLink="/login"
      class="h-16 flex items-center justify-center bg-white text-red-500 font-semibold border-b-2 border-red-500 hover:bg-gray-50 transition"
    >
      ACESSAR
    </a>

    <a
      routerLink="/register"
      class="h-16 flex items-center justify-center bg-gray-100 text-gray-500 font-semibold hover:bg-gray-200 transition"
    >
      CADASTRAR
    </a>
  </div>

  <!-- CONTENT -->

  <div class="p-5 md:p-10 space-y-8">
    <!-- INTRO -->

    <div class="space-y-3">
      <h2 class="text-gray-500 uppercase font-semibold text-lg">
        Sobre o sistema
      </h2>

      <p class="text-gray-600 leading-relaxed">
        Plataforma moderna para gerenciamento de serviços automotivos, controle
        de associados, agendamentos e oficinas credenciadas.
      </p>
    </div>

    <!-- FEATURES -->

    <div class="space-y-5">
      <h2 class="text-gray-500 uppercase font-semibold text-lg">
        Recursos principais
      </h2>

      <div class="grid md:grid-cols-2 gap-4">
        @for (feature of features; track feature.title) {
          <app-feature-card
            [title]="feature.title"
            [description]="feature.description"
          />
        }
      </div>
    </div>

    <!-- BUTTON -->

    <button
      class="w-full h-16 rounded-2xl bg-red-500 text-white text-2xl font-semibold shadow-lg hover:scale-[1.01] hover:bg-red-600 transition"
    >
      COMEÇAR AGORA
    </button>
  </div>
</section>
