<header
  class="fixed top-0 left-0 right-0 z-50 bg-white/95 backdrop-blur border-b border-slate-200 shadow-sm"
>
  <div class="h-20 max-w-7xl mx-auto px-6 flex items-center justify-between">
    <!-- MOBILE BUTTON -->
    <button
      (click)="menuOpen = !menuOpen"
      class="lg:hidden w-11 h-11 rounded-xl
      border border-slate-200
      flex items-center justify-center
      text-[#0A2647] hover:bg-slate-100 transition"
    >
      {{ menuOpen ? "✕" : "☰" }}
    </button>

    <!-- LOGO -->
    <a routerLink="/" class="flex items-center gap-3">
      <img src="assets/logos/logo.png" alt="Logo" class="h-11 object-contain" />

      <div class="hidden sm:flex flex-col">
        <span class="text-[#0A2647] font-bold text-lg leading-none">
          Oficina Inteligente
        </span>

        <span class="text-xs text-gray-500"> Plataforma Automotiva </span>
      </div>
    </a>

    <!-- NAV DESKTOP -->
    <nav class="hidden lg:flex items-center gap-8">
      <a
        href="#beneficios"
        class="text-gray-600 hover:text-[#0A2647] transition font-medium"
      >
        Benefícios
      </a>
      <a
        href="#recursos"
        class="text-gray-600 hover:text-[#0A2647] transition font-medium"
      >
        Principais recursos
      </a>

      <div class="relative group">
        <button
          class="flex items-center gap-2 text-gray-600 hover:text-[#0A2647] transition font-medium"
        >
          Agende seu serviço
          <span class="text-xs">▼</span>
        </button>

        <!-- DROPDOWN -->
        <div
          class="absolute top-full left-0 mt-3 w-64 bg-white rounded-2xl shadow-xl border border-slate-200 opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-200 z-50"
        >
          <div class="p-3">
            @for (o of oficinas; track o.id) {
              <a
                [routerLink]="['/register']"
                [queryParams]="{ oficina: o.nome }"
                class="block px-4 py-3 rounded-xl hover:bg-slate-100 text-gray-700"
              >
                {{ o.nome }}
              </a>
            }
          </div>
        </div>
      </div>

      <div class="relative group">
        <button
          class="flex items-center gap-2 text-gray-600 hover:text-[#0A2647] transition font-medium"
        >
          Onde Estamos
          <span class="text-xs">▼</span>
        </button>

        <!-- DROPDOWN -->
        <div
          class="absolute top-full left-0 mt-3 w-64 bg-white rounded-2xl shadow-xl border border-slate-200 opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-200 z-50"
        >
          <div class="p-3">
            @for (o of oficinas; track o.id) {
              <a
                href="#"
                class="block px-4 py-3 rounded-xl hover:bg-slate-100 text-gray-700"
              >
                {{ o.nome }}
              </a>
            }
          </div>
        </div>
      </div>

      <a
        href="#"
        class="text-gray-600 hover:text-[#0A2647] transition font-medium"
      >
        Contato
      </a>
    </nav>

    <!-- ACTIONS -->
    <div class="flex items-center gap-3">
      <a
        routerLink="/login-associate"
        class="hidden md:flex h-11 px-5 items-center justify-center rounded-xl border border-slate-300 text-[#0A2647] font-medium hover:bg-slate-100 transition"
      >
        Entrar
      </a>

      <a
        routerLink="/register"
        class="hidden md:flex h-11 px-5 items-center justify-center rounded-xl bg-[#D4AF37] text-[#0A2647] font-semibold hover:brightness-105 transition"
      >
        Credenciar Oficina
      </a>
    </div>
  </div>

  <!-- MOBILE MENU -->
  @if (menuOpen) {
    <div
      class="lg:hidden fixed top-20 left-0 w-full bg-white border-t border-slate-200 shadow-xl z-50"
    >
      <div class="px-6 py-5 space-y-4">
        <a
          href="#beneficios"
          (click)="closeMenu()"
          class="block text-gray-700 font-medium hover:text-[#0A2647]"
        >
          Benefícios
        </a>

        <div class="space-y-2">
          <button
            (click)="servicesOpen = !servicesOpen"
            class="w-full flex items-center justify-between text-gray-700 font-medium"
          >
            <span>Agende seu serviço</span>

            <span>
              {{ servicesOpen ? "▲" : "▼" }}
            </span>
          </button>
          @if (servicesOpen) {
            <div class="pl-4 space-y-2">
              @for (o of oficinas; track o.id) {
                <a
                  [routerLink]="['/register']"
                  [queryParams]="{ oficina: o.nome }"
                  (click)="closeMenu()"
                  class="block rounded-lg px-3 py-2 text-gray-600 hover:bg-slate-100 hover:text-[#0A2647] transition"
                >
                  {{ o.nome }}
                </a>
              }
            </div>
          }
        </div>

        <div class="space-y-2">
          <button
            (click)="lacalizacaoOpen = !lacalizacaoOpen"
            class="w-full flex items-center justify-between text-gray-700 font-medium"
          >
            <span>Onde Estamos</span>

            <span>
              {{ lacalizacaoOpen ? "▲" : "▼" }}
            </span>
          </button>
          @if (lacalizacaoOpen) {
            <div class="pl-4 space-y-2">
              @for (o of oficinas; track o.id) {
                <a
                  [routerLink]="['/']"
                  [queryParams]="{ oficina: o.nome }"
                  (click)="closeMenu()"
                  class="block rounded-lg px-3 py-2 text-gray-600 hover:bg-slate-100 hover:text-[#0A2647] transition"
                >
                  {{ o.nome }}
                </a>
              }
            </div>
          }
        </div>

        <a
          href="#contato"
          (click)="closeMenu()"
          class="block text-gray-700 font-medium hover:text-[#0A2647]"
        >
          Contato
        </a>

        <div class="pt-4 flex flex-col gap-3">
          <a
            routerLink="/login-associate"
            (click)="closeMenu()"
            class="h-11 flex items-center justify-center rounded-xl border border-slate-300 text-[#0A2647] font-medium"
          >
            Entrar
          </a>

          <a
            routerLink="/register"
            (click)="closeMenu()"
            class="h-11 flex items-center justify-center rounded-xl bg-[#D4AF37] text-[#0A2647] font-semibold"
          >
            Credenciar Oficina
          </a>
        </div>
      </div>
    </div>
  }
</header>
