.service-input {
  border-radius: 0.25rem;
  border-width: 1px;
  width: 100%;
  border-color: #6d6d6c;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.5rem;
  opacity: 0.3;
  outline: 2px solid transparent;
  outline-offset: 2px;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin: 15px;
}
